<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div style="padding: 2%;">
                <img src="" alt="">
                <div style="text-align: left;padding-left: 15%;">
                   
                    <span>Name: {{userData.name}}, </span><br>
                    <span>Height: {{userData.height}}, </span><br>
                    <span>Mass: {{userData.mass}}, </span><br>
                    <span>average_height: 180, </span><br>
                    <span>Skin Color: {{userData.skin_color}} </span><br>
                    <span>Hair Color: {{userData.hair_color}}</span><br>
                    <span>Eye Color: {{userData.eye_color}} </span><br>
                    <span>Born: {{userData.birth_year}}, </span><br>
                    <span>Gender: {{userData.gender}} </span><br>
                    <span>Created: {{userData.created}} </span><br>
                    <span>Edited: {{userData.edited}}</span><br>
                </div>
                
            </div>
        </div>
    </div>
    <!-- {{charList | json }} -->
    <div class="col-md-8">
        <div class="card">
            <div style="padding: 2%;">
               
            </div>
        </div>
    </div>
</div>