
<div class="pt-4">

</div>
<div class="pb-3">
    <a style="background-color: green;padding: 3px 25px;text-decoration: none;color: white;border-radius: 4px;" href="/home">home</a>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="card" >
            <div class="pb-4" style="padding: 2%;">
                <img style="width: -webkit-fill-available;" src="world.jpg" alt="">
                <div style="text-align: left;padding-left: 15%;font-weight: 500;color: #868686;">
                   
                    <span>Name: {{userData.name}}, </span><br>
                    <span>Height: {{userData.height}}, </span><br>
                    <span>Mass: {{userData.mass}}, </span><br>
                    <span>average_height: 180, </span><br>
                    <span>Skin Color: {{userData.skin_color}} </span><br>
                    <span>Hair Color: {{userData.hair_color}}</span><br>
                    <span>Eye Color: {{userData.eye_color}} </span><br>
                    <span>Born: {{userData.birth_year}}, </span><br>
                    <span>Gender: {{userData.gender}} </span><br>
                    <span>Created: {{userData.created}} </span><br>
                    <span>Edited: {{userData.edited}}</span><br>
                </div>
                
            </div>
        </div>
    </div>
    <!-- {{charList | json }} -->
    <div class="col-md-9">
        <div class="card" >
            <div style="padding: 2%;">
               <div>
                <h5>Films</h5>
                <div class="pb-3" *ngFor="let data of filmList">


                    <div class="card"  style= "text-align: left;padding: 3%;background-color: rgb(223, 223, 223);">
                   
                        <span><strong>Name</strong>:{{data.title}}, </span>
                        <span><strong>episode Id</strong>: {{data.episode_id}}, </span>
                        <span><strong>Opening crawl</strong>: {{data.opening_crawl}}, </span>                     
                        <span><strong>Director</strong>: {{data.director}} </span>
                        <span><strong>producer</strong>: {{data.producer}}</span>
                        <span><strong>release date</strong>: {{data.release_date}} </span>                        
                        <span><strong>Created</strong>: {{data.created}} </span>
                        <span><strong>Edited</strong>: {{data.edited}}</span>
                    </div>
                </div>
               </div>
               <div>
                <h5>Vehicles</h5>
                <div  class="pb-3" *ngFor="let data of vehicleList">
                    <div class="card" style="text-align: left;padding-left: 15%;">
                   
                        <span><strong>Name</strong>:{{data.name}}, </span>
                        <span><strong>Model</strong>: {{data.model}}, </span>
                        <span><strong>manufacturer</strong>: {{data.manufacturer}}, </span>                     
                        <span><strong>Cost In credits</strong>: {{data.cost_in_credits}} </span>
                        <span><strong>Max Atmosphering Speed</strong>: {{data.max_atmosphering_speed}}</span>
                        <span><strong>Crew</strong>: {{data.crew}} </span>
                        <span><strong>passengers</strong>: {{data.passengers}}, </span>
                        <span><strong>cargo capacity</strong>: {{data.cargo_capacity}} </span>
                        <span><strong>vehicl Class</strong>: {{data.vehicle_class}} </span>
                        <span><strong>Created</strong>: {{data.created}} </span>
                        <span><strong>Edited</strong>: {{data.edited}}</span>
                    </div>
                </div>
               
               </div>
               <div>
                <h5>STARSHIPS</h5>

                <div   *ngFor="let data of startShipsList">
                    <div class="card" style="text-align: left;padding-left: 15%;">
                   
                        <span><strong>Name</strong>: {{data.name}}, </span>
                        <span><strong>Model</strong>: {{data.model}}, </span>
                        <span><strong>manufacturer</strong>: {{data.manufacturer}}, </span>                     
                        <span><strong>Cost In credits</strong>: {{data.cost_in_credits}} </span>
                        <span><strong>Max Atmosphering Speed</strong>: {{data.max_atmosphering_speed}}</span>
                        <span><strong>Crew</strong>: {{data.crew}} </span>
                        <span><strong>passengers</strong>: {{data.passengers}}, </span>
                        <span><strong>cargo capacity</strong>: {{data.cargo_capacity}} </span>
                        <span><strong>vehicl Class</strong>: {{data.vehicle_class}} </span>
                        <span><strong>Created</strong>: {{data.created}} </span>
                        <span><strong>Edited</strong>: {{data.edited}}</span>
                    </div>
                </div>
               </div>
               
               
            </div>
        </div>
    </div>
</div>