<div class="row pt-4">
    <div class="col-md-3">
        <div class="card">
            <div style="padding: 6%;">
                <div class="row">
                    <h6 style="color: green;text-align: center;">Filters</h6>
                    <div class="pb-3">
                      <select [(ngModel)]="selectedOptionMovie" (change)="onOptionSelected($event)">
                        <option  value="">Movie Name</option>
                        <option *ngFor="let movie of filmList" value="{{movie.url}}">{{movie.title}}</option>
                      </select>
                    </div>
                   
                  </div>
                  <div class="row">
                    <div class="pb-3">
                      <select [(ngModel)]="selectedOptionSpecies" (change)="onOptionSelected($event)" >
                        <option  value="">Species</option>
                        <option *ngFor="let species of speciesList"  value="{{species.url}}">{{species.name}}</option>
                      </select>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="pb-3">
                      <select [(ngModel)]="selectedOptionVehicle" (change)="onOptionSelected($event)" >
                        <option  value="">Vehicle</option>
                        <option *ngFor="let vehicle of vehicleList" value="{{vehicle.url}}">{{vehicle.name}}</option>
                      </select>
                    </div>                
                  </div>
                  <div class="row">
                    <div class="pb-3">
                      <select [(ngModel)]="selectedOptionShips" (change)="onOptionSelected($event)" >
                        <option  value="">Start Ships</option>
                      <option *ngFor="let ships of startShipsList" value="{{ships.url}}">{{ships.name}}</option>
                    </select>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="pb-3">
                      <select [(ngModel)]="selectedOptionYear" (change)="onOptionSelected($event)" >
                        <option  value="">Birth Year</option>
                        <option *ngFor="let year of peopelBirtList" value="{{year.birth_year}}">{{year.birth_year}}</option>
                      </select>
                    </div>
                    
                  </div>
                  <div class="pb-3">
                    <button (click)="search()">Search</button>

                  </div>

            </div>
        </div>
    </div>
    <!-- {{charList | json }} -->
    <div class="col-md-9">
        <div class="card">
            <div style="padding: 2%;">
              <h6 style="color: green;">Search Results</h6>
              <small>By Default this table will have all data</small>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">S No</th>
                        <th scope="col">Character Name</th>
                        <th scope="col">Species</th>
                        <th scope="col">Birth Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let character_data of filteredCharacters.length?filteredCharacters:charList; index as i">
                        <td scope="row">{{i+1}}</td>
                        <td> <a   href="/character/{{  character_data.id }}" [routerLink]="['/character', character_data.id]">{{character_data.name}}</a></td>
                        <td>{{character_data.species_details.name}}</td>
                        <td>{{character_data.birth_year}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <div style="float: right;">
                    <ngb-pagination
                    [collectionSize]="collection_size"
                    [(page)]="current_page"
                    [pageSize]="pageSize" (pageChange)="loadPage($event)"
                    
                  />
                  </div>
                  
            </div>
        </div>
    </div>
</div>