<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div style="padding: 2%;">
                <ul style="padding-left: 0;">
                    <li style="padding: 1%;">
                        <a href="tes">123</a>
                    </li>
                    <li style="padding: 1%;">
                        <a href="tes">123</a>
                    </li>
                    <li style="padding: 1%;">
                        <a href="tes">123</a>
                    </li>
                    <li style="padding: 1%;">
                        <a href="tes">123</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- {{charList | json }} -->
    <div class="col-md-9">
        <div class="card">
            <div style="padding: 2%;">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">S No</th>
                        <th scope="col">Character Name</th>
                        <th scope="col">Species</th>
                        <th scope="col">Birth Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let character_data of charList; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td> <a   href="/character/{{  character_data.id }}" [routerLink]="['/character', character_data.id]">{{character_data.name}}</a></td>
                        <td>{{character_data.species_details.name}}</td>
                        <td>{{character_data.birth_year}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <ngb-pagination
	[collectionSize]="collection_size"
	[(page)]="current_page"
  [pageSize]="pageSize" (pageChange)="loadPage($event)"

  
	
	
/>
            </div>
        </div>
    </div>
</div>